.container {
  font-family: 'Montserrat', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

label {
  font-size: 24px;
  color: #222222;
}

input {
  border: solid;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: #222222;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 32px;
}

.result {
  font-size: 40px;
  color: #222222;
  margin-top: 32px;
}
